In [2]:
import pandas as pd
print(pd.__version__)
x=pd.read_json(r'D:\python_training\4thDay\write_Json.json')
print(x)
print("Data Frame")
print(pd.DataFrame(x))

2.3.1
     name  age      city occupation        hobbies
0  Deepak   30  Hyderbad  Developer        reading
1  Deepak   30  Hyderbad  Developer    programming
2  Deepak   30  Hyderbad  Developer  listing music
Data Frame
     name  age      city occupation        hobbies
0  Deepak   30  Hyderbad  Developer        reading
1  Deepak   30  Hyderbad  Developer    programming
2  Deepak   30  Hyderbad  Developer  listing music

Creating Dataframe

In [3]:
data = {
    "Roll Number": [1, 2, 3, 4, 5],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Maths": [85, 90, 78, 88, 92],
    "Science": [80, 95, 75, 85, 89]
}
df = pd.DataFrame(data)
print("\n=== DataFrame from Dictionary ===")
print(df)

=== DataFrame from Dictionary ===
   Roll Number     Name  Maths  Science
0            1    Alice     85       80
1            2      Bob     90       95
2            3  Charlie     78       75
3            4    David     88       85
4            5      Eva     92       89