In [39]:
import pandas as pd
from pandas import read_csv, read_excel

In [40]:
df= pd.read_csv(r'D:\python_training\4thDay\Pandas\marks.csv')
print('\n=== First 5 rows from csv ===')
print(df.head(5))
print('\n=== Last 5 rows from csv ===')
print(df.tail(5))

=== First 5 rows from csv ===
   Roll Number       Name  Maths  Science  English  History  Geography
0            1  Student_1     86       39       82       56         70
1            2  Student_2     49       48       37       92         58
2            3  Student_3     95       61       54       92         57
3            4  Student_4     55       43       58       83         96
4            5  Student_5     58       49       88       86         71

=== Last 5 rows from csv ===
    Roll Number         Name  Maths  Science  English  History  Geography
95           96   Student_96     69       46       85       70         81
96           97   Student_97     99       71       59       44         83
97           98   Student_98     81       66       92       58         48
98           99   Student_99     37       43       97       98         49
99          100  Student_100     35       53       96       83         65

In [41]:
print('\n=== shape of df ===')
print(df.shape)

=== shape of df ===
(100, 7)

In [42]:
print('\n=== info of df ===')
print(df.info())

=== info of df ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Roll Number  100 non-null    int64
 1   Name         100 non-null    object
 2   Maths        100 non-null    int64
 3   Science      100 non-null    int64
 4   English      100 non-null    int64
 5   History      100 non-null    int64
 6   Geography    100 non-null    int64
dtypes: int64(6), object(1)
memory usage: 5.6+ KB
None

In [43]:
print('\n=== Describes of df ===')
print(df.describe())

=== Describes of df ===
       Roll Number       Maths     Science     English   History   Geography
count   100.000000  100.000000  100.000000  100.000000  100.0000  100.000000
mean     50.500000   67.800000   65.740000   68.480000   67.2800   67.180000
std      29.011492   21.068431   20.065861   17.376101   19.6721   18.359144
min       1.000000   35.000000   35.000000   36.000000   35.0000   35.000000
25%      25.750000   48.750000   48.750000   55.000000   50.0000   51.000000
50%      50.500000   69.000000   66.000000   67.000000   67.0000   68.000000
75%      75.250000   87.000000   85.250000   82.000000   85.2500   83.000000
max     100.000000   99.000000   97.000000   99.000000   99.0000   99.000000

In [44]:
print('\n===Column Names of Df ===')
print(df.columns)

===Column Names of Df ===
Index(['Roll Number', 'Name', 'Maths', 'Science', 'English', 'History',
       'Geography'],
      dtype='object')

In [45]:
print('\n===Column Values of Df  For Name===')
print(df['Name'].head())

===Column Values of Df  For Name===
0    Student_1
1    Student_2
2    Student_3
3    Student_4
4    Student_5
Name: Name, dtype: object

In [46]:
print('\n===top 5  rows of df ===')
print(df.loc[:5])

===top 5  rows of df ===
   Roll Number       Name  Maths  Science  English  History  Geography
0            1  Student_1     86       39       82       56         70
1            2  Student_2     49       48       37       92         58
2            3  Student_3     95       61       54       92         57
3            4  Student_4     55       43       58       83         96
4            5  Student_5     58       49       88       86         71
5            6  Student_6     37       76       67       76         46

In [47]:
print('\n===top 5  rows of df for first 3 columns ===')
print(df.iloc[0:3,0:5])

===top 5  rows of df for first 3 columns ===
   Roll Number       Name  Maths  Science  English
0            1  Student_1     86       39       82
1            2  Student_2     49       48       37
2            3  Student_3     95       61       54

Reading excel file with sheet Name

In [ ]:
df =read_excel('D:\python_training\4thDay\Pandas\marks.xlsx',sheet_name='mark_with_missing_data')
df = df.fillna(df.mean(numeric_only=True))
df=  df.drop_duplicates()
df.to_csv(r'D:\python_training\4thDay\Pandas\cleaned.csv',index=False